#char-art-list {
    margin-left: 13%;
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#art-info {
    display: flex;
    gap: 7%;
}

#art-buttons {
    margin-left: 2%;
}

@media (max-width: 768px) {
    #char-art-list {
        margin-left: 3%;
    }

  }