@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.demo-login-btn {
  background-color: transparent;
}

.demo-login-btn:hover {
  background-color: transparent;
  color: #dd9804;
}

.page-layout {
  display: flex;
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 80px;
  background-color: #F5F0F6;
  text-decoration: none;
  position: relative;
}

body a {
  color: #f0be36;
}

body a:hover {
  color: #dd9804;
}

.fixed-gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px;
  background: linear-gradient(to top, #9b989c, transparent);
  z-index: -5;
}

.main-content {
  padding: 20px;
  width: 83%;
}

.header {
  width: 100%; 
  background-color: #262627; 
  padding: 10px 20px;  
  position: fixed;  
  top: 0; 
  left: 0;  
  z-index: 10;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container a {
  text-decoration: none;
}

#headerText {
  color: #F5F0F6;
  text-decoration: none;
}

.logo {
  height: 50px; 
  margin-right: 10px;
}

.header-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  padding-right: 50px;
  display: flex;
  justify-content: center; 
}


.header-list li {
  margin: 0 20px; 
}

.header-list a {
  text-decoration: none;
  font-size: 18px;
  color: #F5F0F6;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header-list a:hover {
  color: #F9CF57;
}

#welcome {
  color: #F5F0F6;
}

.username {
  color: #F9CF57;
  font-weight: bold;
}

.navigation-list {
  padding-top: 100px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #39393A, #1a1a1a);
  height: 100vh;
  width: 10.5%;  
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 20px;
  border-left:#F9CF57 double 5px;
}

.navigation-list a, .navigation-list button {
  text-decoration: none;
  font-size: 14px;
  color: #F5F0F6;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'B612 Mono', monospace;
}

.navigation-list a:hover, .navigation-list button:hover {
  color: #F9CF57;
  background-color: transparent;
}

#navbar-picrew-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  margin-bottom: 20px;
}

#navbar-picrew {
  display: flex;
  width: 100px;
  border-radius: 200px;
}

#navbar-char-name {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}

#navbar-picrew:hover {
  filter: brightness(80%);
  cursor: pointer;
}

button {
  background-color: #F9CF57;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  transition: background-color 0.1s ease;
}

button:hover {
  background-color: #e0a800;
  cursor: pointer;
}

#logout-btn {
  margin-top: 30px;
  display: flex;
  justify-content: right;
}